
<div class="card">
  <div class="card-header">
    Editing User
  </div>
  <div class="card-body">
    <%= render 'form', user: @user %>
  </div>
  <div class="card-footer d-flex flex-row-reverse">
    <div class="button-group">
      <%= link_to 'Show', @user, class: "btn btn-secondary" %>
      <%= link_to 'Users', users_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
