<div class="card">
  <div class="card-header">
    <h1>Users</h1>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Handle</th>
          <th>Email</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "user", collection: @users %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= link_to 'New User', new_user_path, class: "btn btn-success" %>
  </div>
</div>
