<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
    </tr>
  </thead>
  <tfoot></tfoot>
  <tbody>
    <%= render partial: 'post', collection: @posts %>
  </tbody>
</table>
